
<body background="https://media-exp1.licdn.com/dms/image/C561BAQEcT27XdS_KTQ/company-background_10000/0/1592466440646?e=1658898000&v=beta&t=AWd0rmIAcqwkBsXGGPjYmFFHAQsbUOSs1P7Fs3dTcXM"
style="color:black; background-position: center; background-repeat: no-repeat; background-size: 100% 100%;">  


<h1 style="text-align:center;"> DETAILS: </h1>
<div style="text-align:center; margin:auto; width: fit-content; background-color: white;" >
    <table style="border: 1px solid black;">
        <tr>
            <th>Username</th><th>Password</th>
        </tr>

        <% data.forEach(function(dat) { %>
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;"><%= dat.username %></td>
                <td style="border: 1px solid black;"><%= dat.password %></td>
            </tr>
        <% }); %>

        </table>
</div>


 </body>
