

<body background="https://media-exp1.licdn.com/dms/image/C561BAQEcT27XdS_KTQ/company-background_10000/0/1592466440646?e=1658898000&v=beta&t=AWd0rmIAcqwkBsXGGPjYmFFHAQsbUOSs1P7Fs3dTcXM"
style="color:black; background-position: center; background-repeat: no-repeat; background-size: 100% 100%;">  
	
	<h1 style="text-align:center"> Sign up form </h1>
	<form action="/sign_up" method="POST" style="text-align:center">	
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>Submit</button>
	</form>
</body>


